*{
 margin: 5px;
 padding: 5px;
}
#container{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 height: 555px;
}
#header{
 height: 150px;
 background-color: blue;
}
#nav_bar{
 height: 300px;
 width: 180px;
 background-color: red; 
 display: inline-block;
}
#main_content{
 height: 360px;
 width: 725px;
 background-color: yellow; 
 display: inline-block;
 position: absolute;
 padding-top: 10px;
 padding-left: 10px;
}
.subcontent{
 height: 200px;
 width: 200px;
 background-color: purple;
 display: inline-block;
 position: static;
 margin: 8px;
 padding: 6px;
}
#advertisements{
 height: 90px;
 width: 670px;
 background-color: pink;
 margin-top: 20px;
}